version: '2'

services:

  rf-python:
    build:
      context: ..
      dockerfile: docker/Dockerfile.python
    image: fidals/rf:test
    container_name: rf-python
    working_dir: $SRC_DIR
    environment:
      - DATABASE_URL=postgres://$DB_USER:$DB_PASS@rf-postgres/$DB_NAME
    depends_on:
      - rf-postgres
    links:
      - rf-postgres
    volumes:
      - ./../:$SRC_DIR  # code volume
    command: python runtests.py

  rf-postgres:
    image: postgres:9.5
    restart: always
    container_name: rf-postgres
    environment:
      POSTGRES_DB: $DB_NAME
      POSTGRES_PASSWORD: $DB_PASS
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data
