<div class="accordion js-accordion">
  {% for section in sections %}
    <div class="accordion-title js-accordion-title" id="js-accordion-title-{{ section.id }}">
      {{ section.name }}<i class="fa fa-caret-left"></i>
    </div>
    <div class="accordion-content js-accordion-content" id="js-accordion-content-{{ section.id }}">
      <p class="accordion-first-item">
        <a class="accordion-link-to-category" href="{{ section.get_absolute_url }}">
          перейти в категорию<i class="fa fa-long-arrow-right"></i>
        </a>
      </p>
      {% for page in section.pages %}
        <p class="accordion-item">
          <a class="accordion-link" href="{{ page.get_absolute_url }}">
            {{ page.menu_title }}
          </a>
        </p>
      {% endfor %}
    </div>
  {% endfor %}
</div>
