{# schema org breadcrumbs doc: https://schema.org/BreadcrumbList #}
{# macros usage examples: https://pypi.python.org/pypi/django-macros/0.3 #}
{% load pages_extras %}

<div itemscope itemtype="http://schema.org/BreadcrumbList">
  {% for name, slug in crumbs_list %}
    <span class="breadcrumbs-item"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      {% if slug %}
        <a href="{{ slug }}" itemprop="item">
          <span itemprop="name">{{ name }}</span>
        </a>
      {% else %}
        <span itemprop="name">{{ name }}</span>
      {% endif %}
        <meta itemprop="position" content="{{ forloop.counter }}">
      {% if not forloop.last %}
        <span class="breadcrumbs-separator">{{ separator }}</span>
      {% endif %}
    </span>
  {% endfor %}
</div>
